[user]
	name  = Adam Cooper
	email = adam@adamcooper.sh
	signingKey = 22F76ED85C31FEE5
[credential]
	helper = cache
[alias]
	co = checkout
	b  = branch
	ci = commit
    st = status
    d  = diff
    l  = log --pretty --show-signature
    amend = commit --amend --date=now
    all-on-master = submodule foreach git checkout HEAD
    fuzz = !$HOME/dev/scripts/git-fuzz
	restore = !$HOME/dev/scripts/git-fuzz r
    current-branch = !$HOME/dev/scripts/git-current-branch.bash
	aliases = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    hub = "!f() { gh $@; }; f"
[core]
	pager = delta --dark
	excludesfile = ~/.gitignore-global
[color]
	ui = true
[commit]
	gpgsign = true
[branch]
	autoSetupRebase = always
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
