# config ignores
.config/Caprine/
.config/opera/
.config/Mailspring/
.config/google-chrome/
.config/ibus/
.config/Insync/
.config/pulse/
.config/RescueTime.com/
.config/VirtualBox/
.config/deluge/
.config/gnome-boxes/
.config/libreoffice/
.config/dconf/
.config/gnome-boxes/
.config/obs-studio/

.ssh/id_rsa
.ssh/id_dsa

.gconf/
.shodan/
.wakatime/

^[^.].+ # No non-dotfiles
