[submodule ".fzf-scripts"]
	path = .fzf-scripts
	url = git@github.com:DanielFGray/fzf-scripts.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".fzf"]
	path = .fzf
	url = git://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
