[user]
	name  = Adam Cooper
	email = adamcooperrc@gmail.com
[credential]
	helper = cache
[alias]
	co = checkout
	b  = branch
	ci = commit
    st = status
    d  = diff
    amend = commit --amend
    update-submodules = submodule foreach git pull origin master
    fuzz = !/home/adam/dev/scripts/git-fuzz
	restore = !/home/adam/dev/scripts/git-fuzz r
    sed = !/home/adam/dev/scripts/git-sed
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /home/adam/.gitignore-global
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
