[submodule ".fzf-scripts"]
	path = .fzf-scripts
	url = git@github.com:DanielFGray/fzf-scripts.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".fzf"]
	path = .fzf
	url = git://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/onedark.vim"]
	path = .vim/bundle/onedark.vim
	url = git://github.com/joshdick/onedark.vim.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = git://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-wakatime"]
	path = .vim/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim.git
[submodule ".gdb/dashboard"]
	path = .gdb/dashboard
	url = git://github.com/cyrus-and/gdb-dashboard.git
[submodule ".hub"]
	path = .hub
	url = git://github.com/github/hub.git
[submodule ".zsh/zsh-url-highlighter"]
	path = .zsh/zsh-url-highlighter
	url = git://github.com/ascii-soup/zsh-url-highlighter.git
[submodule ".zsh/zsh-_url-httplink"]
	path = .zsh/zsh-_url-httplink
	url = git://github.com/Valodim/zsh-_url-httplink.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/material.vim"]
	path = .vim/bundle/material.vim
	url = git://github.com/kaicataldo/material.vim.git
[submodule ".vim/bundle/vim-one"]
	path = .vim/bundle/vim-one
	url = git://github.com/rakr/vim-one.git
[submodule ".wakatime/wakatime-master"]
	path = .wakatime/wakatime-master
	url = git://github.com/wakatime/wakatime.git
