# config ignores
.config/Caprine/
.config/opera/
.config/Mailspring/
.config/google-chrome/
.config/ibus/
.config/Insync/
.config/pulse/
.config/RescueTime.com/
.config/VirtualBox/
.config/deluge/

.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/id_dsa
.ssh/id_dsa.pub

^[^.].+ # No non-dotfiles

