URxvt*transparent: true
URxvt*shading: 100
URxvt*scrollBar: false
Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: true
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
